<div class="aboutus-section">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="aboutus">
                    <h2 class="aboutus-title">Saludos amigas!!</h2>
                    <p class="aboutus-text">I'm a Software Developer working in Gurugram, India.
                        I have serious passion for web applications and dynamic user experiences.
                        Let's make something special.
                    </p>
                    <a class="aboutus-more" href="https://about.me/sushantverma" rel="noopener" target="_blank" >Know more about me</a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 top-buffer">
                <div class="aboutus-banner">
                    <img src="../../assets/DSC_0283 (1).jpg" alt="" class="rounded">
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 top-buffer">
                <div class="feature">
                    <div class="feature-box">
                        <div class="clearfix">
                            <div class="feature-content">
                                <h4>CONTACT</h4>
                                <p>Sushant Kumar Verma</p>
                                <p>New Delhi,India</p>
                                <p>+917906681361</p>
                                <p>sushantverma14@yahoo.com</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





    
