<div class="aboutus-section">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="aboutus">
                    <h2 class="aboutus-title">Who's this guy?</h2>
                    <p class="aboutus-text">I'm a Full-Stack Developer for <a href="https://www.accenture.com/">Accenture</a> in Gurugram, India.
                        I have serious passion for web applications dynamic user experiences.
                        Let's make something special.</p>
                    <!-- <p class="aboutus-text">This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem</p> -->
                    <a class="aboutus-more" href="https://about.me/sushantverma" target="_blank">read more</a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 top-buffer">
                <div class="aboutus-banner">
                    <img src="../../assets/DSC_0283 (1).jpg" alt="" class="rounded">
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 top-buffer">
                <div class="feature">
                    <div class="feature-box">
                        <div class="clearfix">
                            <!-- <div class="iconset">
                                <span class="glyphicon glyphicon-cog icon"></span>
                            </div> -->
                            <div class="feature-content">
                                <h4>CONTACT</h4>
                                <p>New Delhi,India</p>
                                <p>+917906681361</p>
                                <p>sushantverma14@yahoo.com</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <h2 class="aboutus-title">FAQ</h2>
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="aboutus top-buffer">
                    <h4>Why is there a difference with ICMR report and covid19india.org?</h4>
                    <p class="aboutus-text">I am  using state press releases to update the numbers.
                        My hypothesis is that ICMR nightly updates may include cases which 
                        could be reported by states the next day.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="aboutus top-buffer">
                    <h4>Are you official?</h4>
                    <p class="aboutus-text">No</p>
                    <h4>Are you being paid for this?</h4>
                    <p class="aboutus-text">No</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="aboutus top-buffer">
                    <h4>What are your sources? How is the data gathered for this project?</h4>
                    <p class="aboutus-text">We are using state bulletins and official handles to update our numbers. The data is validated by a group of volunteers and published into a Google sheet and an API. API is available for all at api.covid19india.org. 
                        We would love it if you can use this data in the fight against this virus. 
                        The source list is here.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="aboutus top-buffer">
                    <h4>Why does covid19india.org have more positive count than MoH?</h4>
                    <p class="aboutus-text">MoHFW updates the data at a scheduled time. However, we update them based on state press bulletins, official (CM, Health M) handles, PBI, Press Trust of India, ANI reports. These are generally more recent.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="aboutus top-buffer">
                    <h4>Why are you putting in time and resources to do this while not gaining a single penny from it?</h4>
                    <p class="aboutus-text">Because it affects all of us. Today it's someone else who is getting infected; tomorrow it could be us. We need to prevent the spread of this virus. We need to document the data so that people with knowledge can use this data to make informed decisions.</p>
                </div>
            </div>
        </div>
    </div>
</div>





    