    <div class="container">
        <div class="row">
            <div class="col justify-content-center">
                    <h4 class="aboutus-title">HELPLINE NUMBERS [by State]</h4>
                    <a href="HTTPS://WWW.MOHFW.GOV.IN/PDF/CORONVAVIRUSHELPLINENUMBER.PDF"><p class="aboutus-text">HTTPS://WWW.MOHFW.GOV.IN/PDF/CORONVAVIRUSHELPLINENUMBER.PDF</p></a>
            </div>
        </div>
        <div class="row">
            <div class="col align-self-center">
                <div class="aboutus top-buffer">
                    <h4>Ministry of Health and Family Welfare, Gov. of India</h4>
                    <a href="HTTPS://WWW.MOHFW.GOV.IN/"><p class="aboutus-text">HTTPS://WWW.MOHFW.GOV.IN/</p></a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col align-self-center">
                <div class="aboutus top-buffer">
                    <h4>WHO : COVID-19 Home Page</h4>
                    <a href="HTTPS://WWW.WHO.INT/EMERGENCIES/DISEASES/NOVEL-CORONAVIRUS-2019"><p class="aboutus-text">HTTPS://WWW.WHO.INT/EMERGENCIES/DISEASES/NOVEL-CORONAVIRUS-2019</p></a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col align-self-center">
                <div class="aboutus top-buffer">
                    <h4>CDC</h4>
                    <a href="HTTPS://WWW.CDC.GOV/CORONAVIRUS/2019-NCOV/FAQ.HTML
                    Crowdsourced list of Resources"><p class="aboutus-text">HTTPS://WWW.CDC.GOV/CORONAVIRUS/2019-NCOV/FAQ.HTML
                        Crowdsourced list of Resources</p></a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col align-self-center">
                <div class="aboutus top-buffer">
                    <h4>Crowdsourced list of Resources & Essentials from across India</h4>
                    <a href="HTTPS://BIT.LY/COVID19RESOURCELIST"><p class="aboutus-text">HTTPS://BIT.LY/COVID19RESOURCELIST</p></a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col align-self-center">
                <div class="aboutus top-buffer">
                    <h4>COVID-19 Global Tracker</h4>
                    <a href="HTTPS://CORONAVIRUS.THEBASELAB.COM/"><p class="aboutus-text">HTTPS://CORONAVIRUS.THEBASELAB.COM/</p></a>
                </div>
            </div>
        </div>
    </div>
