<!-- Header Starts -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
  <div class="container">
  <a class="navbar-brand" href="/"><img src="../assets/cool-logos-png-17.jpg" alt=""></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/links">Usefull Links</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/FAQ">FAQ</a>
      </li>
    </ul>
    <!-- <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> -->
  </div>
</div>
</nav>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h5>Stay strong! Stay Updated!</h5>
    <p class="lead">This is near real time data for corona cases in india. 
      It updates regularly(nearly every 3 hours) to give you fresh report.</p>
    <p>Note: Click On any State below to get district wise data.</p>
    <!-- <hr class="my-4"> -->
  </div>
</div>
<!-- Header Ends -->

<router-outlet></router-outlet>

<!-- Footer Starts -->
<section>

  <!-- Footer -->
  <footer class="page-footer font-small teal pt-4">

    <!-- Footer Text -->
    <div class="container-fluid text-center text-md-left">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">

          <!-- Content -->
          <h5 class="text-uppercase font-weight-bold">We stand with everyone fighting on the frontlines</h5>
          <p>Social distancing is an opportunity to check if you can tolerate your own company.
          </p>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none pb-3">

        <!-- Grid column -->
        <div class="col-md-6 mb-md-0 mb-3">

          <!-- Content -->
          <h5 class="text-uppercase font-weight-bold">Lets Fight CORONA</h5>
          <p>The world is mine, its problems are mine too.</p>


        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Text -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3" style="background-color: #000000d2;">©2020 Developer:
      <a href="https://about.me/sushantverma" target="_blank"> Sushant Verma</a>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->

</section>
<!-- Footer Ends --> 




